body {
    padding: none;
    margin: none;
}

  /* Set up the container as a grid */
  #grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: auto;
    top: 10vh;
  }

  /* Style individual cells */
  .cell {
    background-color: white;
    aspect-ratio: 1;
    border: 1px solid #999;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  /* Style for black cells */
  .cell.black {
    background-color: rgb(14, 117, 201);
  }
